/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #42978f;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 100px;
}

img {
    align-self: center;
}

p {
    line-height: 30px;
    color: white;
}

h2, h3 {
    font-family: 'Manrope', sans-serif;
}

h2 {
    font-size: 56px;
    font-weight: 300;
    letter-spacing: 3px;
    background-color: #b34c57;
    text-align: center;
    color: #fff;
    padding: 15px;
    box-shadow: 5px 5px 0 black;
}

h3 {
    font-size: 42px;
    letter-spacing: 1;
}
